* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: #00000000;
}

.main-container {
    margin: 0 auto;
    width: 1280px;
}

.my-header {
    margin: auto;
    width: 1280px;
    padding: 25px 330px;
}

header>ul>li {
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    /* or 100% */
    /* display: flex */
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
    margin-left: 30px;
}

a {
    text-decoration: none;
    color: #FF0000;
}

main {
    margin-top: 50px;
    margin-bottom: 40px;
    align-items: center;
} 

h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 40px;
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 0 67.5px 30px 67.5px;
}

button {
    margin: 30px 544px 30px 544px;
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    background: #FF0000;
    border-radius: 4px;
    border: none;
    /* text-align: center; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

footer {
    margin: 35px 105px 60px 710px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;

}
